include mixins
section.about
    .container
        +tittle('About us', 'We added our major Services')
        ul.about__list
            +about('Facebook Marketing', 'icon--like')
            +about('Landing pages Creation', 'icon--book')
            +about('Ads management', 'icon--message')