include mixins
include vars
section.approach
    .container
        +tittle('Our Approach', 'Check Our approaches step by step')
        ul.approach__list
            +step(stepImg1,1)
            +step(stepImg2,2)
            +step(stepImg3,3)
            +step(stepImg4,4)