-var Facebook='Facebook Marketing'
-var Landing='Landing pages'

-var stepImg1='../images/step-1.jpg'
-var stepImg2='../images/step-2.jpg'
-var stepImg3='../images/step-3.jpg'
-var stepImg4='../images/step-4.jpg'

-var workImg1='../images/work-1.jpg'
-var workImg2='../images/work-2.jpg'
-var workImg3='../images/work-3.jpg'
-var workImg4='../images/work-4.jpg'